@page "{id:int?}"
@model DBS_grid.Pages.PaymentOrders.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Платёжное поручение</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOrder.SenderAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOrder.SenderAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOrder.ReceiverAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOrder.ReceiverAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOrder.Sum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOrder.Sum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOrder.Reference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOrder.Reference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentOrder.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentOrder.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Вернуться назад</a>
</div>
